root = true

# Nastaveni konce radku a souboru podle UNIX normem
# Vychozi nastaveni kodovani
[*]
end_of_line = lf
insert_final_newline = true

# Nastaveni odsazovani .cpp a .h souboru
[*.{cpp, h}]
indent_style = space
indent_size = 4
